{% extends 'base.html.twig' %}

{% block title %}Rqst index{% endblock %}

{% block body %}
    <h1>Liste des demandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Objet</th>
                <th>Message</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rqst in rqsts %}
            <tr>
                <td>{{ rqst.id }}</td>
                <td>{{ rqst.object }}</td>
                <td>{{ rqst.content }}</td>
                <td>{{ rqst.status ? rqst.status|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('rqst_show', {'id': rqst.id}) }}">show</a>
                    <a href="{{ path('rqst_edit', {'id': rqst.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune demande</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('rqst_new') }}">Créer une demande</a>
{% endblock %}
