{% extends 'base.html.twig' %}

{% block title %}Customers index{% endblock %}

{% block body %}
    <h1>Liste des clients</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>City</th>
                <th>Zipcode</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.firstname }}</td>
                <td>{{ customer.address }}</td>
                <td>{{ customer.city }}</td>
                <td>{{ customer.zipcode }}</td>
                <td>
                    <a href="{{ path('customers_show', {'id': customer.id}) }}">Montrer</a>
                    <a href="{{ path('customers_edit', {'id': customer.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de clients</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button onclick="location.href='{{ path('customers_new') }}'" type="button" class="btn btn-square btn-success">Créer un client</button>
{% endblock %}
