{% extends 'base.html.twig' %}

{% block title %}Customers{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ customer.name }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ customer.firstname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ customer.email }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ customer.address }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ customer.city }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ customer.zipcode }}</td>
            </tr>

        </tbody>
    </table>

    <button onclick="location.href='{{ path('customers_edit', {'id': customer.id}) }}'" type="button" class="btn btn-square btn-outline-warning">Editer</button>
    {{ include('customers/_delete_form.html.twig') }}

    <a href="{{ path('customers_index') }}">Retour</a>

{% endblock %}
