{% extends 'base.html.twig' %}

{% block title %}Tickets index{% endblock %}

{% block body %}
    <h1>Liste des tickets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Objet</th>
                <th>Contenu</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.object }}</td>
                <td>{{ ticket.content }}</td>
                <td>{{ ticket.status ? ticket.status|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('tickets_show', {'id': ticket.id}) }}">Montrer</a>
                    <a href="{{ path('tickets_edit', {'id': ticket.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun tickets en cours</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tickets_new') }}">Créer un ticket</a>
{% endblock %}
