{% extends 'base.html.twig' %}

{% block title %}Tickets index{% endblock %}

{% block body %}
    <h1>Tickets index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Object</th>
                <th>Content</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.object }}</td>
                <td>{{ ticket.content }}</td>
                <td>{{ ticket.status ? ticket.status|join(', ') : '' }}</td>
                <td>
                    <a href="{{ path('tickets_show', {'id': ticket.id}) }}">show</a>
                    <a href="{{ path('tickets_edit', {'id': ticket.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tickets_new') }}">Create new</a>
{% endblock %}
